[defaults]
inventory           = /ansible/inventory
roles_path          = /ansible/roles
collections_paths   = /ansible/collections
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = yaml
callback_whitelist  = timer, profile_tasks
interpreter_python  = auto_silent
timeout             = 30

[inventory]
enable_plugins = nautobot.nautobot.gql_inventory, yaml, ini, auto

[paramiko_connection]
record_host_keys = False
look_for_keys = False

[ssh_connection]
ssh_args          = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining        = True
transfer_method   = smart

[persistent_connection]
connect_timeout     = 30
command_timeout     = 30

[colors]
error    = red
ok       = green
changed  = yellow
skip     = cyan
